RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^([a-zA-Z0-9]+)$ index.php?title=$1
RewriteRule ^([a-zA-Z0-9]+)/$ index.php?title=$1

<Files "sqlinfo.ini">
     Order allow,deny
     Deny from all
</Files>